html,body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

.container-fluid{
    height: 100vh;
    background-color: #f8f8f8;

}

#board {
    display: none;
}

.board-description {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    justify-content: center;
    
}

.questions {
    margin: 0;
    height: 100vh;
    background-color: #f8f8f8;
    padding-top: 1rem;
    padding-bottom: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

h1 {
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 5rem;
    line-height: 0.9;
}
h1.headingStart {
    position: absolute;
    top: 20rem;
    left: 20rem;
    right: 20rem;
    font-weight: 700;
    text-align: center;
    color: #667eea; 
    
}

h2 {

    color: #667eea;
    font-size: 4.5rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

p.paraStart {
    position: absolute;
    top: 30rem;
    left: 20rem;
    right: 20rem;
    text-align: center;
    color: #667eea;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: rem;
}
p.quizBoardp {
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 300;
    color: white;
    text-align: center;
}

.line1 {
    height: 0.1rem;
    width: 10rem;
    background-color: #f8f8f8;
    align-self: center;
}

p.quest {
    color: #484B55;
    font-weight: 500;
    font-size: 2rem;
}

input {
    margin-right: 1rem;
}

.form-check {
    font-size: 1.5rem;
    color: #484B55;
}

.form-check-input {
    margin-left: -2rem;
}

a#submit-btn {
    background-color: #CD809B;
    width: 20rem;
    height: 10rem;;
    color: white; 
}

.btn-primary {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: none;
    border-radius: none;
    padding: 1rem 2rem;
    float: right;
    width: 20rem;
    height: 5rem;
    margin-right: 20rem;
    margin-bottom: 10rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
}

.fas {
    margin-left: 1rem;
}

.displayResult {
    display:none;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    font-size: 4rem;
    line-height: 1.0;
    font-weight: 900;
    height: 50rem;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

span#display {
    position: absolute;
    top: 40%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}

span.err {
    margin-left: 3rem;
    color: red;
}

form#quest.px-5 {
    height: 100vh;
}

a.retake {
    font-weight: 300;
    width: 20rem;
    text-align: center;
    height: 5rem;;
    color: #ffffff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.3rem;
    background-color: transparent;
    padding-top: 1.7rem;
    text-decoration: none;
    border: 1px solid white;
    margin-bottom: 2rem;
    transition: all 0.3s;

}

a.retake:hover {
    color: #764ba2;
    background-color: #fff;
}

a.btnStart {
    font-weight: 300;
    width: 20rem;
    text-align: center;
    height: 7rem;;
    color: #667eea;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.3rem;
    background-color: transparent;
    padding-top: 2.4rem;
    padding-bottom: 0rem;
    text-decoration: none;
    border: 1px solid #667eea;
    transition: all 0.3s;
    margin-top: 5rem;

}


a.btnStart:hover {
    color: #fff;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    width: 25rem;
}