html,body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    height: 100vh;

}


.container-fluid {
    height: 100vh;
    background-color: #f8f8f8;

}
.board-description {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    /* height: 25rem;
    margin-top: 20rem; */
    justify-content: center;
    height: 100vh;
}
.questions {
   height: 100vh;
    background-color: #f8f8f8;
    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}
h1 {
    color: white;
    text-align: center;
}
h1 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 0.9;
}

h2 {

    color: #667eea;
    font-size: 4.5rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

p.quizBoardp {
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 300;
    color: white;
    text-align: center;
}
.line1 {
    height: 0.1rem;
    width: 10rem;
    background-color: #f8f8f8;
    align-self: center;
}
p.quest {
    color: #484B55;
    font-weight: 500;
    font-size: 2rem;
}
input {
    margin-right: 1rem;

}

.form-check {
    font-size: 1.5rem;
    color: #484B55;
}

.form-check-input {
    margin-left: -2rem;
}

a#submit-btn {
    background-color: #CD809B;
    width: 20rem;
    height: 10rem;;
    color: white; 
}

.btn-primary {
    /* background-color: #CD809B; */
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: none;
    border-radius: none;
    padding: 1rem 2rem;
    float: right;
    width: 20rem;
    height: 5rem;
    margin-right: 20rem;
    margin-bottom: 0rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
}

.fas {
    margin-left: 1rem;
}

.displayResult {
    display:none;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 100vh;
    width: 100%;
}
span.err {
    margin-left: 3rem;
    color: red;
}